extends layout

block content
    // modal window
    #modal
        .content
            a(class="close_modal",href="#pricing", onclick="close_modal(this)")
                i(class="fa fa-times fa-2x", aria-hidden="true")
            h2.text-center Lorem ipsum dolor
            p The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the obverse. Authorized soon after his death in 1945, it has been produced by the Mint continuously since 1946 in large numbers.
            .table
                -table_items.forEach((e)=>{
                .item
                    .title_block
                        p Pay per hour
                    ul.main_text
                        li text
                        li text
                    p The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
                    | obverse.
                    .rate
                        .rate_item
                            p Different hour rate for different services
                    .modal_submit
                        button Contact us!
                - }) 
            h2.text-center(style="margin:0") How does it work
            p(style="margin:0"). 
                <span class="step">Step 1:</span> The Roosevelt dime is the current ten-cent piece of the United States, displaying
                President Franklin D. Roosevelt on the obverse.</br>
                <span class="step">Step 2:</span> The Roosevelt dime is the current ten-cent piece of the United States, displaying
                President Franklin D. Roosevelt on the obverse.
            h4.text-center(style="margin:0") Still got question?
            div(style="display:flex")
                a.contact-btn(href="#contact",onclick="close_modal(document.querySelector('.close_modal'))") Contact us!
    // menu
    .menu-wrap
        nav(class="menu navbar")
            div(class="icon-list navbar-collapse")
                ul.navbar-nav
                    each item in menu
                        li.nav-item
                            a.nav-link(href="#"+item.id)=item.name
        button.close-button(id="close-button")
            i(class="lnr lnr-cross")
    // heder with video
    section(id=data[0].id,data-stellar-background-ratio="0.5")
        div(id="block",data-vide-bg="video/video")
        .fixed-top
            .container
                .logo-menu
                    a.logo(href="/")
                        span(class="lnr lnr-diamond") UAssist
                    button.menu-button(id="open-button")
                        i(class="lnr lnr-menu")
        div(class="overlay overlay-2")
        .container
            div(class="row justify-content-md-center")
                .col-md-10
                    div(class="contents text-center")
                         h1(class="wow fadeInDown",data-wow-duration="1000ms",data-wow-delay="0.3s")=data[0].name
                         p(class="lead  wow fadeIn", data-wow-duration="1000ms", data-wow-delay="400ms")=data[0].desc
                         a(href="#services", class="btn btn-common wow fadeInUp", data-wow-duration="1000ms", data-wow-delay="400ms")
                            i(class="fa fa-hand-o-down")
                            |#{data[0].btn}
    // services block
    section.section(id=data[1].id)
        .container
            .section-header
                h2(class="section-title wow fadeIn", data-wow-duration="1000ms", data-wow-delay="0.3s")=data[1].name
                hr(class="lines wow zoomIn", data-wow-delay="0.3s")
                p(class="section-subtitle wow fadeIn", data-wow-duration="1000ms", data-wow-delay="0.3s")=data[1].desc
            .row
                - services.forEach((e,i)=>{
                    div(class="col-md-4 col-sm-6")
                        div(class="item-boxes wow fadeInDown", data-wow-delay=(i*0.2)+"s")
                            .icon
                                i(class="fa fa-user")
                            h4=e.name
                            p=e.desc
                - },this)
    section( id=data[2].id, class="section", data-stellar-background-ratio="0.2")
        div( class="container")
            div( class="section-header")
                h2( class="section-title wow fadeIn", data-wow-duration="1000ms", data-wow-delay="0.3s")=data[2].name
                hr(class="lines wow zoomIn", data-wow-delay="0.3s")
                p( class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s")=data[2].desc
            div( class="row")
                div( class="col-lg-4 col-md-4 col-sm-4 col-xs-12")
                    div( class="content-left text-right wow fadeInLeft animated" ,data-wow-offset="10")
                        div( class="box-item left")
                            span.icon
                                i( class="fa fa-vcard")
                            div( class="text")
                                h4 Individual approach
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        div( class="box-item left")
                            span.icon
                                i(class="fa fa-comments")
                            div( class="text")
                                h4 Open to feedback
                                p We are more than open to any feedback and will be happy to hear any critics in order to make our service even
                                    |better.
                        div( class="box-item left")
                            span.icon
                                i(class="fa fa-users")
                            div( class="text")
                                h4 Strong team
                                p
                div( class="col-lg-4 col-md-4 col-sm-4 col-xs-12")
                    div( class="show-box wow fadeInDown animated", data-wow-offset="10")
                        img( src="img/features/feature.jpg", alt="")
                div( class="col-lg-4 col-md-4 col-sm-4 col-xs-12")
                    div( class="content-right text-left wow fadeInRight animated" ,data-wow-offset="10")
                        div( class="box-item right")
                            span.icon
                                i(class="fa fa-money")
                            div( class="text")
                                h4 Fair pricing
                                p We have got an experienced research team, which is billable per “active hour”. The quantity of orders we take
                                    |is limited to ensure high quality for each client.
                        div( class="box-item right")
                            span.icon
                                i( class="fa fa-map-marker")
                            div( class="text")
                                h4 Unordinary private city tours
                                p Every our guide is verified and instructed. We have prepared some surprising tours for our clients and are
                                    |confident that they’ll stay happy after our friendly city guides.
                        div( class="box-item right")
                            span.icon
                                i( class="fa fa-phone-square")
                            div( class="text")
                                h4 Call center
                                p We have set up an English speaking call-center where every ready-for-service manager is instructed and answers
                                    |based on the created database, including recommended services and partners with discounts.

    section(id=data[3].id class="video-promo section", data-stellar-background-ratio="0.5")
        .overlay
        .container
            .row
                div( class="col-md-12 col-sm-12")
                    div( class="video-promo-content text-center")
                        h2(class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms")=data[3].name
                        p( class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms")=data[3].desc
                        a( href=data[3].url, class="video-popup wow fadeInUp", data-wow-duration="1000ms", data-wow-delay="0.3s")
                            i(class="lnr lnr-film-play")

    div(id="pricing" class="section pricing-section")
        div.container
            div.section-header
                h2(class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s") 
                    | Our
                    span Packages
                hr(class="lines wow zoomIn" data-wow-delay="0.3s")
                p(class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s")
                    | Basic package – for free, included in each package
            div.row.pricing-tables
                div.col-md-4.col-sm-6.col-xs-12
                    div( class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s")
                        div.icon
                            i.lnr.lnr-heart
                        div.pricing-details
                            h2 Traveller package
                            ul
                                li Be your local assistant
                                li Provide local guidance
                                li Provide local private tours
                                li Help you see Lviv from the best perspective
                            ul
                                span
                                    li Interpret/translate
                                    li Accompany to events
                                    li Running errands
                                    li Perform personalized shopping and delivery
                        div.plan-button
                            a(href="#pricing" class="btn btn-common" onclick="open_modal(document.getElementById('modal'))")
                                | Book it now!
                div.col-md-4.col-sm-6.col-xs-12
                    div(class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s")
                        div.icon
                            i.lnr.lnr-rocket
                        div.pricing-details
                            h2 Researcher package
                            ul
                                li Help you find local contacts
                                li Help you do local research
                                li Be a local fixer
                                li Give you an access to local databases
                            ul 
                                span
                                    li Info about other research institutions and local leaders
                                    li Arranging the meetings with the experts
                                    li Arranging a contact with local embassies, other local foreign organizations
                                    li Arranging legal consulting
                        div.plan-button
                            a(href="#pricing" class="btn btn-common" onclick="open_modal(document.getElementById('modal'))")
                                | Book it now!
                div.col-md-4.col-sm-6.col-xs-12
                    div(class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s")
                        div.icon
                            i.lnr.lnr-briefcase
                        div.pricing-details
                            h2 Business package
                            ul
                                li Connect you to business opportunities
                                li Be the local secretary
                                li Provide basic business services 
                                li Local trust agent
                            ul 
                                span
                                    li Provide business referral service
                                    li Identifying potential business partners
                                    li Make telephone calls
                                    li Legal, Accounting support 
                                    li Assist with banking and money matters 
                                    li Organize/Assist with events 
                                    li Initial research on basic economic data, basic feasibility of your products
                        div.plan-button 
                            a(href="#pricing" class="btn btn-common" onclick="open_modal(document.getElementById('modal'))")
                                | Book it now!

    div(id=data[4].id class="section")
        div.container
            div.row.justify-content-md-center
                div(class="col-md-10 wow fadeInRight" data-wow-delay="0.2s")
                    div.touch-slider.owl-carousel.owl-theme
                        div.testimonial-item
                            img(src="img/testimonial/customer1.png" alt="Client Testimonoal")
                            div.testimonial-text
                                p Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus.
                                    br
                                    |In hac habitasse platea dictumst. 
                                    |Vivamus in accumsan ex
                                h3 Johnathan Doe
                                span Marketing Head Matrix media 
                        div.testimonial-item
                            img(src="img/testimonial/customer2.png" alt="Client Testimonoal")
                            div.testimonial-text
                                p 
                                    |Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus.
                                    br
                                    |In hac habitasse platea dictumst.
                                    |Vivamus in accumsan ex
                                h3 Oidila Matik
                                span President Lexo Inc        
                        div.testimonial-item
                            img(src="img/testimonial/customer3.png" alt="Client Testimonoal")
                            div.testimonial-text
                                p 
                                    |Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus.
                                    br
                                    |In hac habitasse platea dictumst.
                                    |Vivamus in accumsan ex
                                h3 Alex Dattilo
                                span CEO Optima Inc
    section(id=data[5].id class="section")
        div.container
            h2.text-center=data[5].name
            div(class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
                each panel in faq
                    div.panel.panel-default
                        div(class="panel-heading" role="tab" id="headingOne")
                            h4.panel-title( style="color:#5fa7fb" role="button" onclick="toggle(this)" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls=panel.id)=panel.question
                        div(id=panel.id,class="panel-collapse collapse in" ,role="tabpanel")
                            .panel-body=panel.answer
    section#download.section
        .container
            .section-header
                h2.section-title.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="0.3s") <span>Book</span> Our Services
            .row
                .col-md-12
                    .download-area.text-center.wow.fadeInUp(data-wow-delay="0.3s")
                        a(href="#", class="btn btn-border")
                            i.fa.fa-check
                            |Book now
    section#contact.section
        .container
            .row.justify-content-md-center
                .col-md-9.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="0.3s")
                    .contact-block
                        .section-header
                            h2.section-title.wow.fadeIn(data-wow-duration="1000ms", data-wow-delay="0.3s") Contact <span>Us</span></h2>
                            hr.lines.wow.zoomIn(data-wow-delay="0.3s")
                        form#contactForm
                            .row
                                .col-md-6
                                    .form-group
                                        input(type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name")
                                        .help-block.with-errors
                                .col-md-6
                                    .form-group
                                        input(type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email")
                                        .help-block.with-errors
                                .col-md-12
                                    .form-group
                                        input(type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject")
                                        .help-block.with-errors
                                .col-md-12
                                    .form-group
                                        textarea.form-control(placeholder="Your Message" rows="11" data-error="Write your message" required)
                                        .help-block.with-errors
                                    .submit-button.text-center
                                        button.btn.btn-common(id="submit" type="submit") Send Message
                                        #msgSubmit.h3.text-center.hidden
                                        .clearfix
    #subscribe.section
        .container
            .section-header
                h2.section-title.wow.fadeIn(data-wow-duration="1000ms" data-wow-delay="0.3s") Subscribe <span>Newsletter</span>
                hr.lines.wow.zoomIn(data-wow-delay="0.3s")
                p.section-subtitle.wow.fadeIn(data-wow-duration="1000ms" data-wow-delay="0.3s") Subscribe to get all latest news from us.
            .row.justify-content-md-center
                .col-md-8
                    form.text-center.form-inline.wow.fadeInUp(data-wow-delay="0.3s")
                        input.mb-20.form-control(name="email" placeholder="Your Email Address")
                        button.sub_btn subscribe
    footer
        .container
            .row
            .col-md-12
                .social-icons.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="0.3s")
                    ul
                        li.facebook
                            a(href="#")
                                i.fa.fa-facebook
                        li.twitter
                            a(href="#")
                                i.fa.fa-twitter
                        li.google-plus
                            a(href="#")
                                i.fa.fa-google-plus
                        li.linkedin
                            a(href="#")
                                i.fa.fa-linkedin
                        li.pinterest
                            a(href="#")
                                i.fa.fa-pinterest
                        li.dribbble
                            a(href="#")
                                i.fa.fa-dribbble
                .site-info.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="0.3s")
    a.back-to-top(href="#")
        i.lnr.lnr-arrow-up
    #loader
        .spinner
            .double-bounce1
            .double-bounce2